{
  "name": "t0005-app1",
  "hostname": "t0005-app1",
  "shape": "VM.Standard.A1.Flex",
  "ocpus": 3,
  "memory": 18,
  "boot_size": 75,
  "network": {
    "dual_stack": true,
    "assign_public_ip": true,
    "ipv6_subnet_id": ""
  },
  "image_id": "",
  "subnet_id": ""
}
